{% extends "base.html" %}

{% block title %} {{fund.bank}} - {{fund.name}} {% endblock %}
{% block meta %}
{% include "meta.html" %}
{% endblock %}
{% block content %}
<h3>Chart for {{fund.bank}} - {{fund.name}}</h3>
<div class="container">
  {# https://jinja.palletsprojects.com/en/3.0.x/templates/#whitespace-control #}
  <div>
    <div id="myChart"></div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/plotly.js@2.27.1/dist/plotly.min.js"></script>
<script>
  d3.json("/quotes/{{fund.id}}").then((rows) => {
    function unpack(rows, key) {
      return rows.map(function(row) { return row[key]; });
    }

    var trace1 = {
      type: "scatter",
      mode: "lines+markers",
      name: '{{fund.name}}',
      x: unpack(rows, 'date'),
      y: unpack(rows, 'value'),
      line: {color: '#161616'},
      maker: {color: '#DD2222'}
    }

    var layout = {
      title: '{{fund.bank}} - {{fund.name}}',
    };

    Plotly.newPlot('myChart', [trace1], layout);
  });
</script>
{% endblock %}