{% extends "base.html" %}

{% block title %} Charts {% endblock %}
{% block meta %}
{% include "meta.html" %}
{% endblock %}
{% block content %}
<h3>Charts</h3>
<div class="container">
  {# https://jinja.palletsprojects.com/en/3.0.x/templates/#whitespace-control #}
  <div>
    <div id="myChart"></div>
  </div>
</div>
{% endblock %}

{% block javascript %}  
<script src="https://cdn.jsdelivr.net/npm/plotly.js@2.27.1/dist/plotly.min.js"></script>
<script>
  const layout = {
    title: 'Chart for 1',
    showlegend: false
  };

  const options = {
    scrollZoom: true
  }

  var data = [
    {
      type: 'scatter',
      mode: 'lines+markers',
      x: [],
      y: [],
    }];

  function get_json() {
    $.getJSON("/quotes/1", function (json) {
      json.forEach(function(el) {

        data[0].x.push(el[0]);
        data[0].y.push(el[1]);
      });
    });
  }


get_json();
Plotly.newPlot('myChart', data, layout, options);

</script>
{% endblock %}